<div class="btn-group" role="group">
  <%= link_to "Nuevo Prestamo",new_loan_path, class: "btn btn-primary" %>
</div>
<div class="btn-group" role="group" style="float: right;">
	<%= link_to "BACK",root_path, class: "btn btn-primary" %>
</div>
<br><br>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID_Prestamo</th>
                <th>Nombre del Cliente</th>
                <th>Total del Prestamo</th>
                <th>Agregar Pago</th>
                <th>Borrar Prestamo</th>
            </tr>
        </thead>
        <tbody>
                <%= render @loan%>
        </tbody>
    </table>
